@charset "UTF-8";
@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("../../fonts/Montserrat-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("../../fonts/Montserrat-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("../../fonts/Montserrat-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("../../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("../../fonts/Montserrat-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("../../fonts/Montserrat-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

html,
body {
  scroll-behavior: smooth;
}

.wrapper {
  overflow: hidden;
}

.container-menu,
.container {
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 20px;
}

h2, h3 {
  font-weight: 800;
}

.button-up {
  position: fixed;
  display: flex;
  align-items: center;
  background: #f4d600;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  bottom: 50px;
  left: 92%;
  cursor: pointer;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  z-index: 101;
}
.button-up img {
  width: 55px;
  height: 35px;
  margin: 0 auto;
}

.transfer {
  display: none;
}

header {
  position: sticky;
  top: 0;
  padding: 35px 0;
  background: white;
  z-index: 100;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.header-contact {
  display: flex;
  align-items: center;
  gap: 55px;
}
.header-contact a {
  font-size: 14px;
  color: black;
  text-decoration: none;
  font-weight: 300;
}
.header-contact-button {
  display: flex;
  border: 1px solid #f4d600;
  border-radius: 20px;
  overflow: hidden;
}
.header-contact-button a {
  padding: 6px 25px;
  border-radius: 20px;
}
.header-contact-button a:hover {
  background-color: #f4d600;
}

.burger-menu-icon {
  display: flex;
  flex-direction: column;
  gap: 3px;
  cursor: pointer;
}
.burger-menu-icon span {
  width: 25px;
  height: 4px;
  background-color: black;
}
.burger-menu-icon span:first-child {
  border-bottom: 1px solid #d6d6d6;
}
.burger-menu-icon span:nth-child(2) {
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
  height: 5px;
}
.burger-menu-icon span:last-child {
  border-top: 1px solid #d6d6d6;
}

.container-menu {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

#burger-icon-close {
  display: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 55px;
  right: 80px;
}

.menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%; /* Начальное значение смещения */
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 35px;
  transition: right 0.3s ease-in-out;
}
.menu-content {
  display: flex;
  justify-content: flex-end;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 90px;
}

.menu ul li {
  padding-bottom: 15px;
  font-weight: 400;
}

.burger-menu-title {
  margin-top: 15px;
  margin-bottom: 10px;
}
.burger-menu-title a {
  font-weight: 700 !important;
}

.menu ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

@media screen and (max-width: 1076px) {
  .header-contact-link,
  .header-contact-button {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .menu-content {
    margin: 0 auto;
  }
}
.group {
  display: flex;
}
.group img {
  width: 100%;
  height: 100%;
  display: block;
}
.group-blocks {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.group-blocks a {
  position: relative;
}
.group p {
  display: none;
  color: #fff;
  animation: fade 0.3s linear forwards;
  font-size: 16px;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.group-block {
  position: relative;
  display: flex;
  width: 66.6666666667%;
}
.group a:hover p {
  display: block;
}
.group a:hover .background {
  display: flex;
  justify-content: center;
  align-items: center;
}
.group .title-block {
  margin-bottom: 10px;
  font-weight: 800;
}
.group .background {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  animation: fade 0.3s linear forwards;
}

.block {
  position: relative;
  overflow: hidden;
  transform: translateX(-100%);
  transition: opacity 0.5s, transform 0.5s;
}

.block.right-to-left {
  transform: translateX(100%);
}

@media screen and (max-width: 767px) {
  .group {
    flex-direction: column;
  }
  .group-block, .group-blocks {
    width: 100%;
  }
}
.clients {
  margin-top: 50px;
}
.clients h1 {
  margin-bottom: 50px;
}
.clients-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
.clients-item {
  margin-bottom: 70px;
  flex-basis: calc(16.6666% - 10px);
}
.clients-item a img {
  filter: grayscale(1);
  transition: 0.3s;
}
.clients-item a img:hover {
  filter: grayscale(0);
  scale: 1.1;
}

@media screen and (max-width: 750px) {
  .clients-item a img {
    filter: grayscale(0);
  }
}
@media screen and (max-width: 550px) {
  .clients-item a img {
    width: 100%;
  }
  .clients-item {
    flex-basis: 45%;
    display: flex;
    justify-content: center;
  }
}
.title {
  margin-top: 45px;
  margin-bottom: 45px;
}

.contacts {
  display: flex;
  gap: 100px;
  margin-bottom: 45px;
  font-size: 18px;
}
.contacts-item {
  flex-basis: 50%;
}
.contacts-item span,
.contacts-item a {
  color: #8b8b8b;
  text-decoration: none;
}

.application {
  background-color: #efeff0;
  padding-top: 45px;
  padding-bottom: 45px;
  margin-bottom: 15px;
}
.application p {
  color: #8b8b8b;
}
.application .container {
  display: flex;
  gap: 100px;
}
.application-item {
  flex-basis: 50%;
}
.application-item h2 {
  margin-bottom: 45px;
}
.application-item .form {
  display: flex;
  flex-direction: column;
}
.application-item .form textarea,
.application-item .form input {
  color: #8b8b8b;
}
.application-item .form label {
  margin-bottom: 5px;
  font-weight: 600;
}
.application-item .form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  flex-basis: 50%;
}
.application-item .form-item input[type=checkbox],
.application-item .form-item input[type=file] {
  display: none;
}
.application-item .form-item label[for=checkbox] {
  padding-left: 20px;
  margin-bottom: 0;
}
.application-item .form-item label[for=file] {
  padding-left: 15px;
  margin-bottom: 0;
  cursor: pointer;
}
.application-item .form-item label[for=checkbox] {
  font-size: 12px;
  cursor: pointer;
}
.application-item .form-item img {
  width: 25px;
  height: 25px;
}
.application-item .form-item textarea,
.application-item .form-item input {
  border: none;
  padding: 10px;
  width: 100%;
}
.application-item .form-item a {
  text-decoration: none;
  color: black;
}
.application-item .form-item .custom-checkbox {
  position: relative;
}
.application-item .form-item .custom-checkbox:before {
  position: absolute;
  content: "";
  top: -10px;
  left: 0;
  background-image: url("images/checkbox.png");
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}
.application-item .form-item input[type=checkbox]:checked + .custom-checkbox:before {
  background-image: url("images/chebox-ok.png");
}
.application-item .form-file, .application-item .form-checkbox {
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.application-item .form button {
  max-width: 285px;
  height: 30px;
  background-color: #f4d600;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}
.application-item .form-blocks {
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 930px) {
  .application .container {
    flex-direction: column;
    gap: 35px;
  }
  .application-item h2 {
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 775px) {
  .contacts-item {
    flex-basis: 85%;
  }
  .contacts-item:last-child {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .application-item .form-blocks {
    flex-direction: column;
  }
  .application-item .form button {
    max-width: 200px;
  }
}
.in-title-item {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}
.in-title-item .title-section {
  color: #a8a8a8;
  font-weight: 400;
}
.in-title-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.in-title-about img {
  height: 57px;
}
.in-title-about p {
  color: #535353;
}

.in-banner img {
  display: block;
  width: 100%;
}
.in-banner .container {
  margin: 45px 0;
}
.in-banner .container p {
  color: #535353;
}

.reviews {
  background-color: #efeff0;
  margin: 5px 0;
  padding: 50px 0;
}
.reviews p {
  margin-bottom: 20px;
  color: #535353;
}
.reviews b, .reviews span {
  font-size: 14px;
}
.reviews b {
  font-weight: 700;
}
.reviews span {
  color: #535353;
}

.in-images {
  display: flex;
  margin-bottom: 50px;
}
.in-images-item {
  flex-basis: 50%;
}
.in-images-item img {
  display: block;
  width: 100%;
}

.other-project h2 {
  color: #2a2a2a;
  font-weight: 300;
  margin-bottom: 50px;
}
.other-project .group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.other-project .group-block {
  flex-basis: 33.3333%;
}
.other-project .group-block .title-block {
  top: 40% !important;
}

@media screen and (max-width: 767px) {
  .in-title-about img,
  .in-title-item .title-section {
    display: none;
  }
  .in-images {
    flex-direction: column;
  }
  .in-images-item {
    flex-basis: 100%;
  }
  .transfer {
    display: block;
  }
}
.in-detail-client-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  margin-bottom: 30px;
}
.in-detail-client-title div:first-child h2 {
  margin: 30px 0;
}
.in-detail-client-title div:first-child p {
  color: #535353;
  font-size: 20px;
}
.in-detail-client-title img {
  display: block;
  max-height: 80px;
}

@media screen and (max-width: 767px) {
  .in-detail-client-title {
    display: block;
  }
  .in-detail-client-title img {
    display: none;
  }
  .in-detail-client-title div:first-child p {
    font-size: 16px;
  }
}
.in-razdel h2 {
  margin: 30px 0;
}

.recomend {
  background-color: #efeff0;
  padding: 35px 0;
}
.recomend-title {
  padding: 10px 0 35px 0;
}
.recomend-content {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
.recomend-content-item {
  flex-basis: calc(20% - 25px);
}
.recomend-content-item img {
  width: 100%;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 102;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  max-height: 80%;
  flex-basis: 30%;
  object-fit: contain;
}

.close-modal {
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 1076px) {
  .recomend-content-item {
    flex-basis: calc(33.3333% - 20px);
  }
}
@media screen and (max-width: 767px) {
  .recomend-content-item {
    flex-basis: calc(50% - 15px);
  }
}
@media screen and (max-width: 500px) {
  .recomend-content-item {
    flex-basis: 100%;
  }
}
.about-us {
  margin-bottom: 35px;
}
.about-us h2 {
  margin: 35px 0;
}
.about-us p {
  font-weight: 300;
  font-size: 18px;
  color: #757575;
}
.about-us-banner img {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .about-us p {
    font-size: 14px;
  }
}
footer {
  padding: 50px 0;
}
footer .container {
  margin: 0 auto;
}

.footer-blocks {
  display: flex;
  justify-content: space-between;
}

.footer-menu {
  margin-bottom: 30px;
}
.footer-menu ul {
  display: flex;
  gap: 35px;
  list-style: none;
  font-size: 16px;
}
.footer-menu ul a {
  color: black;
  text-decoration: none;
  font-weight: 300;
}

.footer-contacts {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
}
.footer-contacts-item {
  display: flex;
  flex-direction: column;
}
.footer-contacts-item a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 1076px) {
  .footer-menu ul {
    gap: 10px;
  }
  .button-up {
    left: 88%;
    width: 50px;
    height: 50px;
  }
  .button-up img {
    width: 35px;
    height: 20px;
  }
  .header-contact {
    gap: 0;
  }
  #burger-icon-close {
    right: 30px;
  }
}
@media screen and (max-width: 940px) {
  .footer-menu {
    display: none;
  }
  .footer-contacts {
    gap: 15px;
  }
}
@media screen and (max-width: 767px) {
  .footer-blocks,
  .footer-contacts {
    flex-direction: column;
  }
  .footer-blocks {
    gap: 20px;
  }
  .button-up {
    left: 80%;
  }
}
@media screen and (max-width: 540px) {
  .container-menu {
    flex-direction: column;
  }
  .menu ul {
    padding-top: 50px;
  }
}
@media screen and (max-width: 450px) {
  .button-up {
    left: 75%;
  }
}

/*# sourceMappingURL=index.css.map */
