.about-us {
  margin-bottom: 35px;
  h1,h2 {
    margin: 35px 0;
  }
  p {
    font-size: 20px;
    color: #535353;
  }
  &-banner {
    img {
      width: 100%;
    }
  }
}
@media screen and (max-width: 767px) {
  .about-us {
    p {
      font-size: 14px;
    }
  }
}