.in-title {
  &-item {
    display: flex;
    justify-content: space-between;

    .title-section {
      color: #a8a8a8;
      font-weight: 400;
    }

    padding: 35px 0;
  }

  &-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    gap: 5px;

    img {
      height: 57px;
    }

    p {
      color: #535353;
      font-weight: 300;
      font-size: 20px;
      flex-basis: 75%;
    }
  }
}

.in-banner {
  img {
    display: block;
    width: 100%;
  }

  .container {
    p {
      margin: 45px 0;
      color: #535353;
    }
  }
}

.reviews {
  background-color: #efeff0;
  margin: 5px 0;
  padding: 50px 0;

  p {
    margin-bottom: 20px;
    color: #535353;
  }

  b, span {
    font-size: 14px;
  }
  b {
    font-weight: 700;
  }


  span {
    color: #535353;
  }
}

.in-images {
  display: flex;
  margin-bottom: 50px;

  &-item {
    flex-basis: 50%;
    img {
      display: block;
      width: 100%;
    }
  }
}

.other-project {
  h2 {
    color: #2A2A2AFF;
    font-weight: 300;
    margin-bottom: 50px;
  }

  .group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &-block {
      flex-basis: 33.3333%;

      .title-block {
        top: 40% !important;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .in-title-about img,
  .in-title-item .title-section  {
    display: none;
  }
  .in-images {
    flex-direction: column;
    &-item {
      flex-basis: 100%;
    }
  }
  .transfer {
    display: block;
  }
}